*{
    /* margin: 0; */
}
div{
    background-color: #9c9999;
    text-align: center;
}
h2{
    padding-top: 20px;
}
p{
    padding-bottom: 30px;
}
.rabi-tagore{
   font-size: 30px;
   margin: 20 20 20 30;
   background-position: none;
}
a{
    margin: 20px;
    border: 10px solid grey;
}